<ngx-loading [show]="loaderService.loading"></ngx-loading>

<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="over">
        <p>My Books - todo...</p>
    </mat-sidenav>

    <mat-sidenav-content class="example-content">

        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button (click)="goToBookList()">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button (click)="goToAddBook()">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <app-search-with-autocomplete
                    [searchText]="searchText"
                    [options]="options"
                    (optionSelected)="optionSelected($event)"
                    (valueChanged)="searchValueChanged($event)"
                ></app-search-with-autocomplete>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>help</mat-icon>
                      <span>About</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
